@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-yellow: #ffa700;
}

body {
  font-family: 'Roboto',
  sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url('https://images.pexels.com/photos/336948/pexels-photo-336948.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#title-text, #sub-text {
  text-align: center;
}

form {
  text-align: center;
}

#phone-number {
  display: inline-flex;
  padding: 0.75rem;
  justify-content: center;
  width: 10%;
  font-family: inherit;
  border-radius: 5px;
  border: solid white;
}

#submit-button {
  display: inline-flex;
  padding: 0.75rem;
  background-color: var(--color-yellow);
  color: var(--color-white);
  border-radius: 20px;
  border: solid var(--color-yellow);
  cursor: pointer;
  margin: auto;
  font-family: inherit;
  font-weight: 800;
}


main {
  background: var(--color-darkblue-alpha);
  padding: 1rem 3rem;
  border-radius: 0.25rem;
  width: 18%;
  margin: auto;
  margin-top: 1rem;
  color: var(--color-yellow)
}

.displayed-data {
  color: var(--color-white)
}